{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

     <div class="d-flex flex-column align-items-center p-5 my-5 text-dark">
        <h1>Login</h1>
        <div class="w-25">
            <label for="inputEmail">Email</label>
            {% if last_username %}
            <input type="email" name="email" id="inputEmail" class="form-control my-1" autocomplete="email" value="{{ last_username }}" required>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control my-1" autocomplete="current-password" placeholder="Enter password"required autofocus>
            {% else %}
            <input type="email" name="email" id="inputEmail" class="form-control my-1" autocomplete="email" placeholder="Enter email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control my-1" autocomplete="current-password" placeholder="Enter password"required>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="w-100 d-flex justify-content-around">
                <button type="reset" class="w-50 btn btn-dark mt-2 me-2">Reset</button>
                <button type="submit" class="w-50 btn btn-dark mt-2 ms-2">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
